#id1{
    background-image: url('Images/landing.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
}
#logo{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.explanation{
    color: white;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 2%;
    font-size: 200%;
}

#variety{
    height: 6%; width: 100%;
    display: flex;
    flex-direction: row;
}
#textbox{
    text-align: center;
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
}
#t1{
    background-color: lightgray;
    text-align: center;
    color: black;
}
#t2{
    background-color: #F15A29;
    color: white;
    text-align: center;
}
#breakfast{
    width: 100%; height: 100%;
    color: white;
    background-image: url('Images/breakfast.jpg');
    text-align: center;
}
#lunch{
    width: 100%; height: 100%;
    color: white;
    background-image: url('Images/lunch.jpg');
    text-align: center;
}
#dinner{
     width: 100%; height: 100%;
    color: white;
    background-image: url('Images/dinner.jpg');
    text-align: center;
}

.float{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
#fastfood-img{
    display: block;
    padding: 5px 5px 5px 5px;
    box-sizing: content-box;
    width: 280%; height: 250%;
}
.viewgallery{
    color: #F15A29;
    border: 1px solid #F15A29;
    text-decoration: none;
}
.float2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
#drinks{
    text-align: right;
}
#drinks-img{
    display: flex;
    flex-direction: row;
    width: 150%; height: 100%;
    padding: 5px 5px 5px 5px;
    border: 1 px solid lightgrey;
}
#four{
    background-image: url("Images/foodsBg.jpg");
    height: 100%;
    width: 100%;
}
#inside{
    background-color: white;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: content-box;
}
#insideinside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid darkgrey;
}
#inside-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
#insideinside>a{
    color: black;
    text-decoration: none;
    padding: 5px 10% 5px 10%;
    border-left: 1px solid darkgrey;
    text-align: center;
}
#insideinside>a:first-child{
    border-left: none;
    background-color: white;
}
#inside-img >div >p{
    text-align: center;
}
#customers{
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
    margin-left: 20%; margin-right: 20%;
}
#customers-left{
    align-items: center;
    text-align: center;
    margin-right: 30%;
}
#customers-left>h4{
    color: #F15A29;
}
#customers-left>p{
   display: flex; 
}
#customers-right{
    text-align: center;
}
#customers-right>h4{
    color: #F15A29;
}
#email{
    background-image: url("Images/foodsBg.jpg");
    width: 100%; height: 500px;
}
#email>h4{
    display: flex;
    justify-content: center;
}